@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Luckiest Guy", Roboto, sans-serif !important;
}

@layer components {
  .text-lightEffect {
    display: block;
    -webkit-text-stroke: 5px #000;
  }
}
